.booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .booking-form {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F4CE14;
  }
  
  .booking-form-title {
   
    text-align: center;
    padding-left: 0%;
  }
  
  .booking-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .booking-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .booking-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #495E57;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  